@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body,
#root {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}
.stage-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  width: 60vw;
}
.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  padding: 20px;
  border: black 2px solid;
  border-radius: 9px;
}
.App {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logo {
  width: 5vh;
  height: auto;
}
.stage-two {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
.skills-container {
  display: flex;
  flex-direction: column;
}
.company-card-logo {
  padding: 5px;  
  width: 10vh;
  height: auto;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh 0;
}
.card-text {
    width: 10vw;
}
.company-card {
  align-items: center;
  box-sizing: border-box;
  padding: 6vw;
  height: 20vh;
  width: 20vh;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #808080;
}
.company-card:hover {
  transform: scale(1.1);
  transition: transform linear 0.3s;
}
.company-card > div {
  flex: 0 0 auto;
}
.summary-button {
  width: 15vw;
  height: 5vh;
  font-size: 18px;
  border-radius: 8px;
}
.matches-title {
  font-size: 30px;
}
.home-card {
    width: 25vw;
    height: 25vh;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #808080;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selector-logo {
  width: 10vh;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.chart-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.card-container {
  width: 100%;
  height: 100%;
}

.fadeinc {
  width: 100%;
  height: 100%;
}

.chart {
  background-color: blue;
  width: 25vw;
  height: 25vh;
  margin: 0 20px 0 20px;
}

.company-selector {
  width: 100px;
  height: 100%;
  background: red;
}